/* 2-color_variables.scss */
$main-color: #3D3D3D;
$bg-color: #6D6D6D;

body {
    color:$main-color;
    background-color: $bg-color;
}

p {
    color: $main-color;
}

h2 {
    background-color: $bg-color;
}